/* Fonts */
@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans.ttf);
}

@font-face {
    font-family: ArgentumNovus;
    src: url(../fonts/ArgentumNovus.ttf);
}

/* Global Variables */
:root {
    /* Colours */
    --ll-dark: #000;
    --background: #f8f9fa;

    /* Sizes */
    --radius: 10px;
    --title: 20pt;
}

/* XS */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: FiraSans, Helvetica, sans-serif;
}

.container {
    transition: all .2s ease-out;
}

a {
    text-decoration: none;
}

.h6 {
    font-size: 1.125rem;
}

.text-justify {
    text-align: justify;
}

.moments-secondary {
    font-size: 0.75rem;
}

.radius {
    border-radius: var(--radius);
}

.header-text-shadow, .text-shadow {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.card {
    border: none;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.05);
}

.education-image {
    height: 80px;
}

.x-fit {
    width: fit-content;
}

.s-fit {
    width: fit-content;
    height: fit-content;
}

.resume-experience {
    height: 24px;
}

.fall-background {
    position: absolute;
    z-index: -1;
    height: 300px;
    filter: opacity(20%);
    top: 0;
    right: 2rem;
}

.resume-padding {
    padding-left: 2rem;
}

.company-experience {
    height: 32px;
}

.world-map-outer {
    height: 200px;
    cursor: grab;
    overflow: auto;
}

#world-map {
    width: 3000px;
}

.text-flag {
    height: 18px;
}

.no-dots {
    list-style-type: none;
}

.help {
    cursor: help;
}

.backdrop {
    z-index: -2;
}

.minus-one {
    z-index: -1;
}

.diploma {
    height: 200px;
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.1);
}

.diploma.secondary {
    height: 150px;
}

.certificate-image {
    height: 48px;
}

.title-image {
    height: 64px;
}

.dynamic-background, .full-background {
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: opacity(80%) blur(2px);
    z-index: -1;
}

.about-profile-pic {
    width: 150px;
}

.full-background.self {
    filter: opacity(50%) blur(4px);
}

.full-background.sbotics {
    filter: opacity(20%) blur(10px);
}

.card-img-rectangle {
    aspect-ratio: 21 / 9;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.footer-img {
    height: 2rem;
    aspect-ratio: 1 / 1;
}

.full-sm, .full-md, .full-lg {
    width: 100%;
}

.bg-ll-dark {
    background-color: var(--ll-dark);
}

.argentum, .argentum-novus {
    font-family: ArgentumNovus, FiraSans, Helvetica, sans-serif;
}

.header-title {
    font-size: var(--title);
}

.profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* SM */
@media (min-width: 576px) {
    .header-title {
        width: calc(100% - 100px);
    }
    .full-sm {
        width: auto;
    }
}

/* MD */
@media (min-width: 768px) {
    .card-img-rectangle {
        aspect-ratio: 16 / 9;
    }
    .full-md {
        width: auto;
    }
    .world-map-outer {
        height: 350px;
    }
}

/* LG */
@media (min-width: 992px) {
    .full-lg {
        width: auto;
    }
    .about-card {
        text-align: center;
        min-height: 268px;
    }
    .about-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-card .card-body .btn {
        padding: 0.5rem 3rem;
    }
    .ufrn {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

/* XL */
@media (min-width: 1200px) {
    .world-map-outer {
        height: 500px;
    }
    .about-card {
        min-height: 278px;
    }
}

/* XXL */
@media (min-width: 1400px) {
    .about-card {
        min-height: 312px;
    }
}

/* XXXL */
@media (min-width: 1600px) {
    .py-xxl-12 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}