/* XS */
.main-picture img {
    margin: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: center center;
}

.text-container li {
    font-size: 15pt;
}

.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--ll-primary);
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px;
}

.timeline-card {
    width: 100%;
    padding: 10px 25px 10px 70px;
    position: relative;
    background-color: inherit;
}

.timeline-card::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--ll-background);
    border: 4px solid var(--ll-light-grey);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 0;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.left::after, .right::after {
    left: 18px;
}

.timeline-content {
    padding: var(--ll-topic-mar) var(--ll-topic-mar) calc(var(--ll-huge-mar) + var(--ll-small-mar)) var(--ll-topic-mar);
    background-color: var(--ll-background-yellow);
    position: relative;
    text-align: justify;
    min-height: 200px;
    overflow: hidden;
}

.timeline-content h1 {
    font-size: var(--ll-txt-medium);
}

.timeline-locale-image {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.timeline-card::before {
    left: 60px;
    border: medium solid var(--ll-background-yellow);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--ll-background-yellow) transparent transparent;
}

/* SM */
@media (min-width: 576px) {}

/* MD */
@media (min-width: 768px) {}

/* LG */
@media (min-width: 992px) {
    .timeline::after {
        left: 50%;
    }

    .timeline-card {
        width: calc(50% - 5px) /*80px*/;
    }

    .timeline-card:not(.left) {
        padding: 10px 0px 10px 40px;
    }

    .timeline-card:not(.right) {
        padding: 10px 40px 10px 0px;
    }

    .left::after {
        left: unset;
    }

    .left::before {
        right: 30px;
        left: unset;
        border: medium solid var(--ll-background-yellow);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent var(--ll-background-yellow);
    }

    .right::before {
        left: 30px;
    }

    .right::after {
        left: -13px;
    }
    
    .right {
        left: 50%;
    }
}

/* XL */
@media (min-width: 1200px) {}

/* XXL */
@media (min-width: 1400px) {}